
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    {{#users}}
    Hello {{user.name}}
    {{/users}}

    {{^users}}

<form class="input" action="/index.html" method="post" placeholder="Enter Username">
<h3>Username</h3>
<input type="text" name="username" placeholder="Username">

<h3>Password</h3>
<input type="password" name="password" placeholder="Password">
<button type="submit" name="button">Login</button>

</form>

    {{/users}}



</body>
</html>
